# compiledoutput
**/dist
**/node_modules
/dist
/node_modules

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store
**/DS_Store

.env
**/.env

# turbo
.turbo
